DB_PASSWORD=schimba-ma-parola-postgres
JWT_SECRET_KEY=genereaza-o-cheie-aleatoare-de-minim-32-caractere
REDIS_PASSWORD=schimba-ma-parola-redis
PGADMIN_EMAIL=admin@exemplu.local
PGADMIN_PASSWORD=schimba-ma-parola-pgadmin
